/* CSS files add styling rules to your content */

body {
  /*   margin: 2em; */
  color: black;
  fontsize: 2em;
  font-style: bold;
}

h1 {
  font-family: Impact;
  font-style: bold;
  color: navy;
}
h2 {
  font-style: bold;
  color: navy;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center-text {
  text-align: center;
}

/*     <div class="jumbotron text-center"> */
.jumbotron {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.5)
    ),
    url(https://cdn.glitch.com/9fcdea82-c707-41a7-9436-46cfe7bef5cf%2F2C6402EC-0640-499F-99FF-816287C2F181.jpeg?v=1597869085961);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: transparent;
  color: #fff;
}
.jumbotron h1 {
  color: #fff;
}
.welcome {
  height: 50vh;
  min-height: 300px;
/*   display: flex;
  justify-content: center;
  flex-direction: column; */
}
