/* CSS files add styling rules to your content */

body {
  font-family: Impact;
/*   margin: 2em; */
  color: navy;
 font size: 2em;
  font-style: bold;
}

h1 {
  font-style: bold;
  color: navy;
}
h2 {
  font-style: bold;
  color: navy;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center-text {
  text-align: center;
}

/*     <div class="jumbotron text-center"> */
.jumbotron {
  
}