/* CSS files add styling rules to your content */

body {
  font-family: Impact, Impact;
  margin: 2em;
  color: Navy;
  font-style: bold;
}

h1 {
  font-style: bold;
  color: Navy;
}
h2 {
  font-style: bold;
  color: Navy;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center-text {
  text-align: center;
}
